
.nav{
    display: flex;
    background-color:  #d0e6cd ;

 
}
body{ 
    
    background-image: url(images/background.jpg);
    background-repeat: no repeat;
    background-size: cover;
    background-attachment: fixed;
 }
h1,h2,p,h5{ 
    color:rgb(134, 28, 28)
    
}
h2{

  text-align: center;  
}
.row{
    justify-content: space-evenly;
    align-items: center;
    
}
.bg-light{
    background-color:  #d0e6cd ;
}




.container-fluid{
    
   text-align: center;
   border: 10px;
   background-color:  #d0e6cd ;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    
    justify-content: space-evenly;
    align-items: center;
}
.jumbotron-fluid{ 
    background-color
     :#d0e6cd ;
{ 
    
}
.h1{
    font-size: larger;
    font: weight 10px; ;
    flex-flow: row;
    align-items: center;
    
}

.bg-light{
    color:#d0e6cd ; 
}
.footer{
    border: 10px;
    background-color:  #d0e6cd ;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

